body {
  background: #BA5370;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #F4E2D8, #BA5370);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #F4E2D8, #BA5370); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.titulo {
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
}
